:root {
    --white: rgb(224, 211, 199);
    --black: rgb(114, 76, 45);
    --highlighted: rgb(255, 255, 0);
    --marked: rgb(255, 208, 0);
    --attacks: rgba(200, 100, 100, 0.966);
    --white-figures: rgba(255, 255, 255);
    --black-figures: rgb(0, 0, 0);
    --pawn-promotion-div: rgb(146, 109, 78);
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("bg.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.board {
    padding: 0;
    position: relative;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    min-width: 80vh;
    min-height: 80vh;
    border: 3px solid black;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    text-align: center;
    /* line-height: 10vh; */
    vertical-align: 10vh;
    font-size: 2vh;
    cursor: pointer;
    background-color: var(--white);
    box-shadow: inset 0 0 1px var(--marked);
}

.square .fas {
    font-size: 6.5vh;
}

.dark {
    background-color: var(--black);
}

.marked {
    background-color: var(--marked);
}

.highlighted {
    background-color: var(--highlighted);
}

.attacks {
    background-color: var(--attacks);
}

.black {
    color: var(--black-figures);
}

.white {
    color: var(--white-figures);
}

.pawn-promotion-cover {
    position:fixed;
    padding:0;
    margin:0;

    top: (50%-40vh);
    left: (50%-40vh);

    background:rgba(255,255,255,0.5);
    min-width: 80vh;
    min-height: 80vh;
}

.pawn-promotion-div {
    position: fixed;
    padding:0;
    margin:0;

    width: 60vh;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    border: 3px solid black;
    background-color: var(--pawn-promotion-div);
}

.pawn-promotion-icons {
    
    width:100%;
    display: flex;
    justify-content: space-around;
}

.pawn-promotion-icons {
    font-size: 7vh;
}

.pawn-promotion-text {
    font-size: 5vh;
}

.break {
    flex-basis: 100%;
  }

@media (max-width: 720px) {

    .board {
        min-width: 70vh;
        min-height: 70vh;
    }

    .wrap {
        height: 90vh;
    }

    .pawn-promotion-cover {
        min-width: 70vh;
        min-height: 70vh;
    }

    .pawn-promotion-div {
        width: 53vh;
        height: 26.5vh;
    }
}

@media (max-width: 550px) {

    .board {
        min-width: 50vh;
        min-height: 50vh;
    }

    .square .fas {
        font-size: 5vh;
    }

    .wrap {
        height: 70vh;
    }

    .pawn-promotion-cover {
        min-width: 50vh;
        min-height: 50vh;
    }

    .pawn-promotion-div {
        width: 38vh;
        height: 19vh;
    }

    .pawn-promotion-icons {
        font-size: 5vh;
    }
    
    .pawn-promotion-text {
        font-size: 3vh;
    }

}

@media (max-width: 450px) {

    .board {
        min-width: 40vh;
        min-height: 40vh;
    }

    .square .fas {
        font-size: 4.5vh;
    }

    .wrap {
        height: 60vh;
    }

    .pawn-promotion-cover {
        min-width: 40vh;
        min-height: 40vh;
    }

    .pawn-promotion-div {
        width: 30vh;
        height: 15vh;
    }

    .pawn-promotion-icons {
        font-size: 4.5vh;
    }
    
    .pawn-promotion-text {
        font-size: 2vh;
    }
}

@media (max-width: 350px) {

    .board {
        min-width: 35vh;
        min-height: 35vh;
    }

    .square .fas {
        font-size: 3.5vh;
    }

    .wrap {
        height: 50vh;
    }

    .pawn-promotion-cover {
        min-width: 35vh;
        min-height: 35vh;
    }

    .pawn-promotion-div {
        width: 26vh;
        height: 13vh;
    }

    .pawn-promotion-icons {
        font-size: 3.5vh;
    }
    
    .pawn-promotion-text {
        font-size: 1.8vh;
    }

}

@media (max-width: 250px) {

    .board {
        min-width: 25vh;
        min-height: 25vh;
        max-width: 25vh;
        max-height: 25vh;
    }

    .square .fas {
        font-size: 2.5vh;
    }

    .wrap {
        height: 40vh;
    }

    .pawn-promotion-cover {
        min-width: 25vh;
        min-height: 25vh;
    }

    .pawn-promotion-div {
        width: 18vh;
        height: 9vh;
    }

    .pawn-promotion-icons {
        font-size: 2.5vh;
    }
    
    .pawn-promotion-text {
        font-size: 1.4vh;
    }

}