html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    position: relative;
}

.board {
    padding: 0;
    position: relative;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    min-width: 80vh;
    min-height: 80vh;
    border: 3px solid black;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    text-align: center;
    line-height: 10vh;
    /* vertical-align: 10vh; */
    font-size: 2vh;
    cursor: pointer;
    background-color: var(--white);
    box-shadow: inset 0 0 1px var(--marked);
    transition: background-color 0.7s;
}

.square .fas {
    font-size: 6.5vh;
}

.dark {
    background-color: var(--black);
}

.marked {
    background-color: var(--marked);
}

.highlighted {
    background-color: var(--highlighted);
}

.attacks {
    background-color: var(--attacks);
}

.black {
    color: var(--black-figures);
    text-shadow: -1px 0 var(--white-figures),
        0 1px var(--white-figures),
        1px 0 var(--white-figures),
        0 -1px var(--white-figures);
}

.white {
    color: var(--white-figures);
    text-shadow: -1px 0 var(--black-figures),
        0 1px var(--black-figures),
        1px 0 var(--black-figures),
        0 -1px var(--black-figures);
}

.pawn-promotion-cover,
.settings-div,
.endGameBoxCover {
    position: fixed;
    padding: 0;
    margin: 0;

    top: (50%-40vh);
    left: (50%-40vh);

    background: rgba(255, 255, 255, 0.5);
    min-width: 80vh;
    min-height: 80vh;
}

.pawn-promotion-div,
.endGameBox {
    position: fixed;
    padding: 0;
    margin: 0;
    width: 60vh;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    border: 3px solid black;
    background-color: var(--pawn-promotion-div);
}

.pawn-promotion-icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.pawn-promotion-icons {
    font-size: 7vh;
}

.pawn-promotion-text,
.settings-div>p {
    font-size: 5vh;
}

.break {
    flex-basis: 100%;
}

.settings-div>p:first-child {
    margin-top: 10vh;
}

.settings-div>* {
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 1px;
}

.form>select {
    font-size: 4vh;
}

.settings-div>p {
    font-family: 'Roboto Slab', serif;
}

.form>p,
.settings-div>*:last-child {
    overflow: hidden;
    display: inline;
    font-size: 4vh;
    font-family: 'Open Sans', serif;
}

.settings-div>*:last-child {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}
.endGameBox>*{
    text-align: center;
}
.endGameBox button {
    flex: 1;
}
.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.timerWhitePlayer, .timerBlackPlayer, .title{
    width: 20vh;
    text-align: center;
    margin-top: 5vh;
}
.timerWhitePlayer>p, .timerBlackPlayer>p, p.title{
    margin-bottom: 0;
}
.timerWhitePlayer>i, .timerBlackPlayer>i{
    font-size: 6.5vh;
}

@media (max-width: 720px) {

    .board {
        min-width: 70vh;
        min-height: 70vh;
    }

    .wrap {
        height: 90vh;
    }

    .pawn-promotion-cover,
    .settings-div,
    .endGameBoxCover {
        min-width: 70vh;
        min-height: 70vh;
    }

    .pawn-promotion-div,
    .endGameBox {
        width: 53vh;
        height: 26.5vh;
    }
}

@media (max-width: 550px) {

    .board {
        min-width: 50vh;
        min-height: 50vh;
    }

    .square .fas {
        font-size: 5vh;
    }

    .wrap {
        height: 70vh;
    }

    .pawn-promotion-cover,
    .settings-div,
    .endGameBoxCover {
        min-width: 50vh;
        min-height: 50vh;
    }

    .pawn-promotion-div,
    .endGameBox {
        width: 38vh;
        height: 19vh;
    }

    .pawn-promotion-icons {
        font-size: 5vh;
    }

    .pawn-promotion-text,
    .settings-div>p {
        font-size: 3vh;
    }

    .form>p,
    .settings-div>*:last-child,
    .form>select {
        font-size: 2.5vh;
    }

}

@media (max-width: 450px) {

    .board {
        min-width: 40vh;
        min-height: 40vh;
    }

    .square .fas {
        font-size: 4.5vh;
    }

    .wrap {
        height: 60vh;
    }

    .pawn-promotion-cover,
    .settings-div,
    .endGameBoxCover {
        min-width: 40vh;
        min-height: 40vh;
    }

    .pawn-promotion-div {
        width: 30vh;
        height: 15vh;
    }

    .pawn-promotion-icons {
        font-size: 4.5vh;
    }

    .pawn-promotion-text,
    .settings-div>p {
        font-size: 2vh;
    }

    .form>p,
    .settings-div>*:last-child,
    .form>select {
        font-size: 1.6vh;
    }
}

@media (max-width: 350px) {

    .board {
        min-width: 35vh;
        min-height: 35vh;
    }

    .square .fas {
        font-size: 3.5vh;
    }

    .wrap {
        height: 50vh;
    }

    .pawn-promotion-cover,
    .settings-div,
    .endGameBoxCover {
        min-width: 35vh;
        min-height: 35vh;
    }

    .pawn-promotion-div,
    .endGameBox {
        width: 26vh;
        height: 13vh;
    }

    .pawn-promotion-icons {
        font-size: 3.5vh;
    }

    .pawn-promotion-text,
    .settings-div>p {
        font-size: 1.8vh;
    }

    .form>p,
    .settings-div>*:last-child,
    .form>select {
        font-size: 1.4vh;
    }

    .settings-div>p:first-child {
        margin-top: 5vh;
    }

}

@media (max-width: 250px) {

    .board {
        min-width: 25vh;
        min-height: 25vh;
    }

    .square .fas {
        font-size: 2.5vh;
    }

    .wrap {
        height: 40vh;
    }

    .pawn-promotion-cover,
    .settings-div,
    .endGameBoxCover {
        min-width: 25vh;
        min-height: 25vh;
    }

    .pawn-promotion-div,
    .endGameBox {
        width: 18vh;
        height: 9vh;
    }

    .pawn-promotion-icons {
        font-size: 2.5vh;
    }

    .pawn-promotion-text,
    .settings-div>p {
        font-size: 1.4vh;
    }

    .form>p,
    .settings-div>*:last-child,
    .form>select {
        font-size: 1.1vh;
    }
}