:root {
    --white: rgb(224, 211, 199);
    --black: rgb(114, 76, 45);
    --highlighted: rgba(255, 255, 0, 1);
    --marked: rgb(255, 166, 0);
    --attacks: rgba(212, 36, 36, 0.966);
    --white-figures: rgba(255, 255, 255);
    --black-figures: rgb(0, 0, 0);
    --pawn-promotion-div: rgb(146, 109, 78);
    --inactive-player-box: rgb(100,100,100);
    --active-player-box: rgb(255,215,0);
}

body {
    background-image: url("bg2.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
