:root {
    --white: rgb(255, 204, 244);
    --black: rgb(182, 69, 138);
    --highlighted: rgba(255, 255, 0, 1);
    --marked: rgba(255, 208, 0, 1);
    --attacks: rgba(200, 100, 100, 0.966);
    --white-figures: rgba(255, 255, 255);
    --black-figures: rgb(0, 0, 0);
    --pawn-promotion-div: rgb(201, 109, 166);
}

body {
    background-image: url("bg4.png");
    background-repeat: repeat;
    background-position: center;
    height: 100vh;
}
