:root {
    --white: rgb(255, 204, 244);
    --black: rgb(180, 42, 111);
    --highlighted: rgba(255, 255, 0, 0.5);
    --marked: rgba(255, 208, 0, 0.5);
    --attacks: rgba(200, 100, 100, 0.966);
    --white-figures: rgba(255, 255, 255);
    --black-figures: rgb(0, 0, 0);
    --pawn-promotion-div: rgb(146, 109, 78);
}

body {
    background-image: url("bg.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
